<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="putty_color_theme_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <putty_color_theme_gui.Properties.Settings>
            <setting name="PuttyLocationDir" serializeAs="String">
                <value>C:\Program Files\PuTTY\</value>
            </setting>
            <setting name="PuttySessionRegistrySubPath" serializeAs="String">
                <value>Software\SimonTatham\PuTTY\Sessions</value>
            </setting>
        </putty_color_theme_gui.Properties.Settings>
    </userSettings>
</configuration>